In [1]:
import pymongo
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
data = df.to_dict(orient='records')
# data

In [ ]:
DB_NAME = "insurance"
COLLECTION_NAME = "data"
CONNECTION_URL =

In [4]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [5]:
rec = collection.insert_many(data)

In [6]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,68962bf1f18c3ade302ccb90,328,48,521585,10/17/2014,OH,250/500,1000,1406.91,0,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,68962bf1f18c3ade302ccb91,228,42,342868,6/27/2006,IN,250/500,2000,1197.22,5000000,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y